*,*::before, *::after{
    box-sizing: border-box;
    justify-content: center;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .jumbo-torn{
    margin-top: 0px;
  }
  .input{
    background-color: transparent;
    background-color: white;
    color: black;
    border-style: 1px solid black;
    white-space: pre-wrap;
    background: none;

  }
  .header{
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0px;
    height: 80px;
    padding-top: 10px;

  }
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(242, 248, 248);
   
  }
  .first-col{
    padding-top: 10px;
    text-align: center;
   align-items: center;
    padding-left: 3rem;
    box-shadow: 0 0 1px black;
    width: 20%;
    
  }
  .search-results{
    padding-top: 2rem;
  }
  .second-col{
     height: 90vh;
     margin: 0px;
  }
  .upper-div{
    height: 44vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    margin-right: 0;
    padding: 30px;
    box-shadow: 0 0 1px black;
    border: 0.1px solid black;
    border-right: none;
    font-weight: 500;
  }
  .lower-div{
    margin: 3px;
    height: 45vh;
    padding: 10px;
    
  }
  .button-primary{
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
    background-color: none;
    white-space: pre-wrap;
    height: 50px;
    width: 50px;
    outline: none;
    background-color: blue;
    font-size: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 13px;
    line-height: 400px;
    
    


  }
  .city{
    width: 80%;
    display:inline-block;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
    height: 50px;
    outline: none;
    margin-right: 0px;
    box-shadow: 0 0 5px blueviolet;
    padding: 0 16px;
    font-size: 1.5rem;
    background: none;
    color:black;
    line-height: 300px;
  }

  
  .button-primary:hover{
    box-shadow: 0 0 10px black;
   
  }
  .ul.li{
    list-style: none;
  }
  
  .search-results{
    padding: 0;
    margin: 0;
    align-items: left;
  }
  .container{
    align-items: center;

  }
  ul{
list-style-type: none;
padding-top: 10px;


  }
  li{
font-size: 30px;
display: flex;
flex-direction: column;
overflow: hidden;
background-color:white;
width: 90%;
border-radius: 0px;
margin-top: 0px;
overflow: hidden;
display: block;
align-items: center;
float: left;
border: 1px solid black;
border-bottom: none;
border-bottom:none;
text-decoration-style: capitalize;

    
  }
  li:last-child{
    border-bottom: 1px solid black;
  }
 .city-list{
   padding: 20px;
  margin-top: 30px;

 }
 
 .card-div{
  align-items: left;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;

 }
 .card-area{
   padding: 30px;
  margin: 0 10px;
   height: 230px;
   background-color: rgba(71, 71, 243, 0.966);
   color: white;
   box-shadow: 0 0 10px rgb(102, 95, 95);
   width: 15%;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   border-radius: 5px;
 }
 .re{
   background-color: red;
 }

  