*,*::before, *::after{
    box-sizing: border-box;
  }
  .card-div::-webkit-scrollbar{
    display: block;
    background:antiquewhite;
}
  .card-div::-webkit-scrollbar-thumb{
    height: 10px;
    background: rgb(255, 145, 0);
    border-radius: 5px;
    color: rgb(2, 2, 2);
}
@media(max-width:1024px){
  .card-div::-webkit-scrollbar{
    display: none;
    background:antiquewhite;
}
}
  body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    background: antiquewhite;
  }
  .first-col{
    border-left: 2px solid black;

  }
  @media(max-width:767px){
    .first-col{
      border-left: none;
      border-top: 2px solid black;
      margin-top: 10px;
  
    }
  }
  input{
    background-color: white;
    color: black;
    border-style: 1px solid black;
    white-space: pre-wrap;
    width: 70%;
    height: 40px;

  }
  .header{
    background-color: rgb(73, 72, 72);
    color: white;
    text-align: center;
    align-items: center;
    margin: 0px;
    height: 80px;
    padding-top: 10px;
    width: 100vw;
    right: 0;
    line-height: 140px;
  }
  .list-col{
    min-height: 400px;
  }
  .card-area{
    min-height: 250px;
    min-width: 300px;
    background-color: rgb(47, 47, 248);
    color: rgb(134, 24, 24);
    border-radius: 15px;
    display: flex;
    flex-direction: column;

  }
  .card-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: scroll;
    width: auto;
    padding: 5px ;
    margin: 5px;
    height: auto;
  }
  .search-button{
    color: blue;
  }
 ul li{
   width: 70%;
   margin-left: 15px;
   border-radius: 15px;
   text-align: center;
   background-color: rgb(245, 188, 113);
   box-shadow: 2px 2px rgb(121, 112, 194, 0.5);
   margin-bottom: 6px;
 }
 ul li:hover{
   background-color: rgb(65, 57, 45);
   color: white;
   transition: 1s ease-in-out;
 }
  

  



 
  
 
  
  
  ul{
list-style-type: none;
padding-top: 10px;
  }
  li{
font-size: 1.5rem;
display: flex;
flex-direction: column;
overflow: hidden;
background-color:white;
width: 100%;
margin-top: 0px;
overflow: hidden;
display: block;
align-items: center;
float: left;
border: 1px solid black;
border-bottom: none;
border-bottom:none;
text-decoration-style: capitalize;

    
  }
  li:last-child{
    border-bottom: 1px solid black;
  }

 

 .card-area{
   padding: 10px;
  margin: 0 5px;
   height: 200px;
   background-color: rgba(71, 71, 243, 0.966);
   color: white;
   box-shadow: 0 0 10px rgb(102, 95, 95);
  width: 240px;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   border-radius: 5px;
  text-align: center;
 }
